node_modules/
.trae/
dist/
build/
out/
.cache/
coverage/
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn*.log
pnpm-debug.log*
.env
.env.*
*.local
.vercel/
.vscode/
playwright-report/
reports/
test-results/
Desktop.ini
.idea/
.eslintcache
public/css/tailwind.css
public/**/*.map
